* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --PrimaryRed : #E53935;
    --ContainerBackground : #ebebeb;
    --WhiteBackground : #FFFFFF;
    --TextColorPrimary : #000000;
    --TextColorSecondary : #2D2D2D;
}
body {
    font-family: "Raleway", sans-serif;
}
h1,h2 {
    font-family: "Merriweather Sans", sans-serif;
}
p {
    color: var(--TextColorSecondary);
}





header{
    padding-top: 35px;
    overflow: hidden;
    margin: 0 10px;
}
.container{
        max-width: 1600px;
        background-color: var(--ContainerBackground);
        margin: auto;
        padding: 0 20px;
        border-radius: 20px;
}
.navContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navContent{
    display: flex;
    gap: 80px;
}
nav ul {
    display:flex;
    gap: 50px;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--TextColorSecondary);
}
nav ul li a:hover {
    transition: 0.4s;
    opacity: 20%;
}

.buttonMain {
    padding: 15px 20px;
    border: 1px solid transparent;
    border-radius: 50px;
    text-decoration: none;
    color: var(--WhiteBackground);
    background-color: var(--PrimaryRed);
    font-size: 1.2rem;
    font-weight: 600;
}
.buttonMain:hover {
    transition: 0.3s;
    color: var(--PrimaryRed);
    background-color: var(--WhiteBackground);
    border: 1px solid var(--PrimaryRed);
}
.navContainer img {
    animation: fadeIn-left 1.5s both;
}
.navContainer .navContent {
    animation : fadeIn-right 1.5s 0.2s both;
}



section {
    padding-top: 35px;
    margin: 0 10px;
}

.heroSection{
    height: calc(100vh - 116px);
}
.HeroContainer{
    background-image: url(../images/backgroundHero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroContent{
    display:flex;
    flex-direction: column;
    gap:50px;
    max-width: 1300px;
}
.heroContent h1{
    font-size: clamp(3rem, 5vw, 4.5rem);
}
.heroContent p{
    font-size: 1.4rem;
}
.heroWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heroLocation{
    display:flex;
    gap:5px;
    align-items: center;
}
.heroLocation h2 {
    font-size: 1rem;
}
.heroLocation img {
    max-width: 25px;
    max-height: 25px;
}
.heroButtons {
    display:flex;
    gap:30px;
}

.buttonSecondary{
    padding: 15px 20px;
    border: 2px solid transparent;
    border-radius: 50px;
    text-decoration: none;
    color: var(--PrimaryRed);
    background-color: var(--WhiteBackground);
    font-size: 1.2rem;
    font-weight: 600;
}
.buttonSecondary:hover {
    transition: 0.5s;
    color: var(--WhiteBackground);
    background-color: var(--PrimaryRed);
    border: 2px solid var(--WhiteBackground);
}


.actionsLocation{
    display:flex;
    gap:5px;
    align-items: center;
}
.actionsLocation h2 {
    font-size: 1rem;
    color : var(--TextColorSecondary)
}
.actionsLocation img {
    max-width: 25px;
    max-height: 25px;
    display: block;
}
.issueType{
    display:flex;
    gap:5px;
    align-items: center;

}
.issueType h2 {
    font-size: 0.8rem;
    color : var(--TextColorSecondary)
}
.issueType img {
    max-width: 30px;
    max-height: 30px;
}

.moneyStatus{
    display:flex;
    gap:5px;
    align-items: center;
}
.moneyStatus h2{
    font-size: 0.8rem;
    color : var(--TextColorSecondary)
}
.moneyStatus img {
    max-width: 30px;
    max-height: 30px;
}


.previewContent {
    display: flex;
    gap: 100px;
    align-items: center;

}

.previewText {
    flex: 1.2; 
}
.previewText h1{
    font-size: clamp(3rem, 5vw, 4.5rem);
}

.previewText p {
    font-size: 1.3rem;
    line-height: 1.5;
}
.previewCard {
    flex: 0.8; 
    display:flex;
    justify-content: center;
    max-width: 300px;
}

.actionCard{
    display:flex;
    flex-direction: column;
    background-color: var(--WhiteBackground);
    margin : 20px 0;
    border-radius: 20px;
    overflow: hidden;
}
.mainPicture img {
    max-width: 100%;
}
.contentType {
    display:flex;
    gap:40px;
    justify-content: center;
}
.cardActivity
{
    display:flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}
.actionCard:hover{
    background-color: rgba(128, 128, 128, 0.452);
    transition: 0.5s;
}
.cardBody {
    padding: 20px; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
.arrow{
    color:var(--TextColorPrimary);
    font-size: 1.5rem;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.arrow:hover {
    transform: translateX(8px);
    color: var(--PrimaryRed);
}
@keyframes fadeIn-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
        filter : blur(50px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
        filter:blur(0);
    }
}
@keyframes fadeIn-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
        filter : blur(50px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
        filter:blur(0);
    }
}
    

